@charset "UTF-8";

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: crimson;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  gap: 2px;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: minmax(115px, auto) repeat(5, 75px);
}

.calculator > button {
  background-color: rgba(240 248 255 / .75);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  border: none;
  outline: none;
}

.calculator > button:hover {
  cursor: pointer;
  background-color: rgba(240 248 255 / .9);
}

.calculator > * {
  border-radius: 3px;
}

.span2 {
  grid-column: span 2;
}

.data-display {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgba(0 0 0 / .75);
  color: white;
  padding: 15px;
  word-wrap: break-word;
  word-break: break-all;
}

[current-operand] {
  font-size: 3rem;
  color: rgba(255 255 255 / .95);
}

[previous-operand] {
  font-size: 1rem;
  color: rgba(255 255 255 / .75);
}